<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


      <link href="https://fonts.googleapis.com/css?family=Exo|Gloria+Hallelujah&display=swap" rel="stylesheet">
     <style>
      body {
        background-color: white; }
    </style>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Python Challenge - Radio Button</title>
</head>
<body>
<div class="center-align">
</div>
    <div class="container">

            {%block content %}
            {% endblock %}

    </div>

</body>

<footer class="page-footer grey lighten-4">
    <div class="container grey lighten-4 black-text">
      <div class="row">
        <div class="col l6 s12">
          <h6>Python Challenge - Radio Button</h6>
        </div>
      </div>
      <div class="right-align">
      <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    </div>
    <div class="footer-copyright black-text">
      <div class="container">
      © 2019 Copyright Text
      <a href="https://www.linkedin.com/in/thecodingrecruiter/">Designed and Developed by "The Coding Recruiter"</a>
      </div>
    </div>
  </footer>

</html>
